/* COLORS */
:root {
    --blue: #4D6981;
    --off-white: #fffed6;
}

body {
    background:url("img/parchment.jpg");
    background-size: cover;
    background-position: center;
}

.box {
    margin: 4% 8% 0% 8%;
}

.mainBox {
    background: linear-gradient(#4D6981 2%, #A2B1BE 98%);
    text-align: center;
    padding: 2% 2%;
}

.aboutBox {
    text-align: left;
    font-size: 1.3em;
    height: 100vh;
    color: var(--blue);
}

/* BASE FONT */
body, div, td {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    color: var(--off-white);
}

/* MENU FONT */
.menu-link {
    color: var(--blue);
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    font-weight: 80;
    font-size: 1.75em;
}

/* LEE MEADVIN */
h1, .home {
    font-family: "Bebas Neue", sans-serif;
    font-size: 48px;
    font-weight: 80;
    color: var(--blue);
}

/* MENU SPACING */
footer, .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 4% 8% 0% 8%;
}

.menu {
    color: var(--blue);
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    font-weight: 80;
}

.page_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}
#contact {
    padding-left: 1em;
}

/* BOX */
/* Records */
h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 42px;
    font-weight: 80;
}

.record-cover {
    width: 95%;
    height: 95%;
    margin: 0px 5px 0px 5px;
}
.lee {
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

@media all and (min-width: 601px) {
    .recordBox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Record hover */
.record-work-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    font-family: "Rajdhani", sans-serif;
    color: var(--off-white);
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 97%;
    margin: 0px 5px 0px 5px;
}

.record {
    position: relative;
    display: inline-block;
}

.record:hover .record-work-layer {
    visibility: visible;
    opacity: 1;
}

.record-work {
    font-size: 1.3em;
    padding-left: 3%;
    padding-right: 3%;
}
.credit {
    font-size: 0.85em;
    font-weight: 100;
}

@media (pointer: coarse) {
    .record-work-layer {
        background: rgba(0, 0, 0, 0.55);
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 770px) {
    .record-work {
        font-size: 1em;
    }
    .credit {
        font-size: 0.9em;
    }
}

/* SOME MOBILE TWEAKS */
@media screen and (max-width: 600px) {
    .recordBox {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .menu-link {
        font-size: 1.75em;
    }
    h1, .home {
        font-size: 40px;
    }
    h2 {
        font-size: 36px;
    }
    .box {
        margin: 4% 4% 0% 4%;
    }
    .record-work {
        font-size: 1em;
    }
    .credit {
        font-size: 0.8em;
    }
    footer, .menu {
        margin: 4% 4% 0% 4%;
    }
    .lee {
        width: 85%;
    }
}

/* even smaller screens */
@media screen and (max-width: 400px) {
    .menu-link {
        font-size: 1.5em;
    }
    h1, .home {
        font-size: 32px;
    }
    h2 {
        font-size: 26px;
    }
    .record-work {
        font-size: 0.8em;
    }
    .credit {
        font-size: 0.8em;
    }
    .waalsh {
        display: none;
    }
}