/* COLORS */

:root {
    --color: rgb(104, 150, 177);
    --secondary-color: "#b6d6d0";
    --gradient-color1: "white";
    --gradient-color2: "#4D7A99";
}

body {
    background: linear-gradient(white 2%, #4D7A99 98%) no-repeat;
    /* background: linear-gradient(white 30%, #4D7A99 0);
    background-size: 100% 30px; */
    
    background-size: cover;
    background-position: center;
}

.box {
    background: linear-gradient(#4D7A99 2%, white 98%);
    border: 1px dotted white;
    margin: 4% 8% 0% 8%;
    padding: 2% 2%;
}

.mainBox {
    text-align: center;
}

.aboutBox {
    text-align: left;
    font-size: 1.3em;
    height: 100vh

}

/* BASE FONT */
body, div, td {
    font-family: "Rajdhani", sans-serif;
    font-size: 15px;
    color:white;
}

/* LEE MEADVIN */
h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 48px;
    font-weight: 80;
    color: var(--color);
}

/* MENU FONT */
a {
    color: var(--color);
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    font-weight: 80;
}

/* MENU SPACING */
footer, .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 4% 8% 0% 8%;
}
.page_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    font-size: 1.25em;
}
#contact {
    padding-left: 1em;
}

/* BOX */
/* Records */
h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
    font-weight: 80;
}
.recordBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.record-cover {
    width: 95%;
    height: 95%;
    margin: 0px 5px 0px 5px;
}
.lee {
    width: 85%;
    margin: 0px 5px 0px 5px;
}

.title {
    color: white;
    font-size: 18px;
    font-weight: 200;
}

.work_description {
    color: rgb(14, 12, 12);
}


@media (max-width: 620px) {
    .work_description { display: none;}
    .title { display: none;}
}

@media (min-width: 620px) {
    .work_description {
        display: block;
    }
    .title {
        display: block;
    }
}

/* Record hover */
/* img {
    vertical-align: bottom;
} */

.record-work-layer {
    /* display: none; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75); /* maybe not a black filter */
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 97%;
    margin: 0px 5px 0px 5px;
}

.record {
    position: relative;
    display: inline-block;
}

.record:hover .record-work-layer {
    visibility: visible;
    opacity: 1;
}

.record-work {
    font-family: "Rajdhani", sans-serif;
    color: white;
    font-size: 1em;
    font-weight: 200;
    padding-left: 3%;
    padding-right: 3%;
}

/* FOOTER */
/* footer {
    margin: 0% 8%
} */