/* COLORS */

:root {
    --color: #4D6981;
    --secondary-color: "#b6d6d0";
    --gradient-color1: "#fffed6";
    --gradient-color2: "#4D6981";
}

body {
    background:url("img/parchment.jpg");
    background-size: cover;
    background-position: center;
}

.box {
    margin: 4% 8% 0% 8%;
}

.mainBox {
    background: linear-gradient(#4D6981 2%, #A2B1BE 98%);
    border: 1px dotted #fffed6;
    text-align: center;
    padding: 2% 2%;
}

.aboutBox {
    text-align: left;
    font-size: 1.3em;
    height: 100vh;
    color: var(--color);
}

/* BASE FONT */
body, div, td {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    color:#fffed6;
}

/* LEE MEADVIN */
h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 48px;
    font-weight: 80;
    color: var(--color);
}

/* MENU FONT */
.menu-link {
    color: var(--color);
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    font-weight: 80;
}

/* MENU SPACING */
footer, .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 4% 8% 0% 8%;
}

.menu {
    color: var(--color);
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    font-weight: 80;
}

.page_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    font-size: 1.25em;
}
#contact {
    padding-left: 1em;
}

/* BOX */
/* Records */
h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
    font-weight: 80;
}
.recordBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.record-cover {
    width: 95%;
    height: 95%;
    margin: 0px 5px 0px 5px;
}
.lee {
    display: block;
    width: 74%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color: #fffed6;
    font-size: 18px;
    font-weight: 200;
}

.work_description {
    color: rgb(14, 12, 12);
}


@media (max-width: 840px) {
    .work_description { display: none;}
    .title { display: none;}
    .recordBox {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 840px) {
    .work_description {
        display: block;
    }
    .title {
        display: block;
    }
    .recordBox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Record hover */
.record-work-layer {
    /* display: none; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75); /* maybe not a black filter */
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 97%;
    margin: 0px 5px 0px 5px;
}

.record {
    position: relative;
    display: inline-block;
}

.record:hover .record-work-layer {
    visibility: visible;
    opacity: 1;
}

.record-work {
    font-family: "Rajdhani", sans-serif;
    color: #fffed6;
    font-size: 1.3em;
    padding-left: 3%;
    padding-right: 3%;
}
.credit {
    font-family: "Rajdhani", sans-serif;
    color: #fffed6;
    font-size: 0.85em;
    font-weight: 100;
}
